{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit Formation</h1>
                            </div>
                            <form method="post">
                                {{ form_start(form) }}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.nomFormation) }}
                                        {{ form_widget(form.nomFormation, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Nom de la formation'}}) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Description'}}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.dateDebut) }}
                                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control form-control-user'}}) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(form.dateFin) }}
                                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control form-control-user'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.prix) }}
                                    {{ form_widget(form.prix, {'attr': {'class': 'form-control form-control-user', 'placeholder': 'Prix'}}) }}
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Update Formation
                                </button>
                                <a href="{{ path('app_formation_index') }}" class="btn btn-secondary btn-user btn-block">
                                    Back to List
                                </a>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
